{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        La page demandée n'a pas été trouvée. Vous pouvez <a href="{{ path('default') }}">retourner sur la page d'accueil</a>.
    </p>
{% endblock %}