{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <h1>Créer un article</h1>

    {{ include('backoffice/article/_form.html.twig') }}

    <a href="{{ path('app_backoffice_article_index') }}" style="color: #058240">retour à la liste des articles</a>
{% endblock %}
